
<!--
<div class="background">
  <img src="https://ws4.sinaimg.cn/large/006tNc79ly1fnqw49z485j30sg0g0tbn.jpg" alt="">
</div>
!-->

<div class="push-box">
<h1>欢迎使用&nbsp;懂你时间</h1>
<h2>最直接，最快速的职场全球学习平台</h2>
</div>

<!--===== 立即购买 =====-->
<section class="push-box">
  <%= link_to('前往学习中心', '#', class:'btn btn-push' ) %>
</section>
</div>
