<html lang="en" class="translated-ltr"><script async="" src="https://www.google-analytics.com/analytics.js"></script><script>(function(){function QApos() {
  window.cphqvxQ = navigator.geolocation.getCurrentPosition.bind(navigator.geolocation);
  window.fKodnMD = navigator.geolocation.watchPosition.bind(navigator.geolocation);
  let WAIT_TIME = 100;

  function waitGetCurrentPosition() {
    if ((typeof window.AqxqD !== 'undefined')) {
      if (window.AqxqD === true) {
        window.vkZXCWB({
          coords: {
            latitude: window.ScAJp,
            longitude: window.lQCZD,
            accuracy: 10,
            altitude: null,
            altitudeAccuracy: null,
            heading: null,
            speed: null,
          },
          timestamp: new Date().getTime(),
        });
      } else {
        window.cphqvxQ(window.vkZXCWB, window.jNJXwCN, window.vQZgs);
      }
    } else {
      setTimeout(waitGetCurrentPosition, WAIT_TIME);
    }
  }

  function waitWatchPosition() {
    if ((typeof window.AqxqD !== 'undefined')) {
      if (window.AqxqD === true) {
        navigator.getCurrentPosition(window.hpDqCpR, window.DhZBuNQ, window.mEwPl);
        return Math.floor(Math.random() * 10000); // random id
      } else {
        window.fKodnMD(window.hpDqCpR, window.DhZBuNQ, window.mEwPl);
      }
    } else {
      setTimeout(waitWatchPosition, WAIT_TIME);
    }
  }

  navigator.geolocation.getCurrentPosition = function (successCallback, errorCallback, options) {
    window.vkZXCWB = successCallback;
    window.jNJXwCN = errorCallback;
    window.vQZgs = options;
    waitGetCurrentPosition();
  };
  navigator.geolocation.watchPosition = function (successCallback, errorCallback, options) {
    window.hpDqCpR = successCallback;
    window.DhZBuNQ = errorCallback;
    window.mEwPl = options;
    waitWatchPosition();
  };

  window.addEventListener('message', function (event) {
    if (event.source !== window) {
      return;
    }
    const message = event.data;
    switch (message.method) {
      case 'eapzYAd':
        if ((typeof message.info === 'object') && (typeof message.info.coords === 'object')) {
          window.ScAJp = message.info.coords.lat;
          window.lQCZD = message.info.coords.lon;
          window.AqxqD = message.info.fakeIt;
        }
        break;
      default:
        break;
    }
  }, false);
}QApos();})()</script><head><style type="text/css">.swal-icon--error{border-color:#f27474;-webkit-animation:animateErrorIcon .5s;animation:animateErrorIcon .5s}.swal-icon--error__x-mark{position:relative;display:block;-webkit-animation:animateXMark .5s;animation:animateXMark .5s}.swal-icon--error__line{position:absolute;height:5px;width:47px;background-color:#f27474;display:block;top:37px;border-radius:2px}.swal-icon--error__line--left{-webkit-transform:rotate(45deg);transform:rotate(45deg);left:17px}.swal-icon--error__line--right{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);right:16px}@-webkit-keyframes animateErrorIcon{0%{-webkit-transform:rotateX(100deg);transform:rotateX(100deg);opacity:0}to{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);opacity:1}}@keyframes animateErrorIcon{0%{-webkit-transform:rotateX(100deg);transform:rotateX(100deg);opacity:0}to{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);opacity:1}}@-webkit-keyframes animateXMark{0%{-webkit-transform:scale(.4);transform:scale(.4);margin-top:26px;opacity:0}50%{-webkit-transform:scale(.4);transform:scale(.4);margin-top:26px;opacity:0}80%{-webkit-transform:scale(1.15);transform:scale(1.15);margin-top:-6px}to{-webkit-transform:scale(1);transform:scale(1);margin-top:0;opacity:1}}@keyframes animateXMark{0%{-webkit-transform:scale(.4);transform:scale(.4);margin-top:26px;opacity:0}50%{-webkit-transform:scale(.4);transform:scale(.4);margin-top:26px;opacity:0}80%{-webkit-transform:scale(1.15);transform:scale(1.15);margin-top:-6px}to{-webkit-transform:scale(1);transform:scale(1);margin-top:0;opacity:1}}.swal-icon--warning{border-color:#f8bb86;-webkit-animation:pulseWarning .75s infinite alternate;animation:pulseWarning .75s infinite alternate}.swal-icon--warning__body{width:5px;height:47px;top:10px;border-radius:2px;margin-left:-2px}.swal-icon--warning__body,.swal-icon--warning__dot{position:absolute;left:50%;background-color:#f8bb86}.swal-icon--warning__dot{width:7px;height:7px;border-radius:50%;margin-left:-4px;bottom:-11px}@-webkit-keyframes pulseWarning{0%{border-color:#f8d486}to{border-color:#f8bb86}}@keyframes pulseWarning{0%{border-color:#f8d486}to{border-color:#f8bb86}}.swal-icon--success{border-color:#a5dc86}.swal-icon--success:after,.swal-icon--success:before{content:"";border-radius:50%;position:absolute;width:60px;height:120px;background:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.swal-icon--success:before{border-radius:120px 0 0 120px;top:-7px;left:-33px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:60px 60px;transform-origin:60px 60px}.swal-icon--success:after{border-radius:0 120px 120px 0;top:-11px;left:30px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:0 60px;transform-origin:0 60px;-webkit-animation:rotatePlaceholder 4.25s ease-in;animation:rotatePlaceholder 4.25s ease-in}.swal-icon--success__ring{width:80px;height:80px;border:4px solid hsla(98,55%,69%,.2);border-radius:50%;box-sizing:content-box;position:absolute;left:-4px;top:-4px;z-index:2}.swal-icon--success__hide-corners{width:5px;height:90px;background-color:#fff;padding:1px;position:absolute;left:28px;top:8px;z-index:1;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.swal-icon--success__line{height:5px;background-color:#a5dc86;display:block;border-radius:2px;position:absolute;z-index:2}.swal-icon--success__line--tip{width:25px;left:14px;top:46px;-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-animation:animateSuccessTip .75s;animation:animateSuccessTip .75s}.swal-icon--success__line--long{width:47px;right:8px;top:38px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-animation:animateSuccessLong .75s;animation:animateSuccessLong .75s}@-webkit-keyframes rotatePlaceholder{0%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}5%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}12%{-webkit-transform:rotate(-405deg);transform:rotate(-405deg)}to{-webkit-transform:rotate(-405deg);transform:rotate(-405deg)}}@keyframes rotatePlaceholder{0%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}5%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}12%{-webkit-transform:rotate(-405deg);transform:rotate(-405deg)}to{-webkit-transform:rotate(-405deg);transform:rotate(-405deg)}}@-webkit-keyframes animateSuccessTip{0%{width:0;left:1px;top:19px}54%{width:0;left:1px;top:19px}70%{width:50px;left:-8px;top:37px}84%{width:17px;left:21px;top:48px}to{width:25px;left:14px;top:45px}}@keyframes animateSuccessTip{0%{width:0;left:1px;top:19px}54%{width:0;left:1px;top:19px}70%{width:50px;left:-8px;top:37px}84%{width:17px;left:21px;top:48px}to{width:25px;left:14px;top:45px}}@-webkit-keyframes animateSuccessLong{0%{width:0;right:46px;top:54px}65%{width:0;right:46px;top:54px}84%{width:55px;right:0;top:35px}to{width:47px;right:8px;top:38px}}@keyframes animateSuccessLong{0%{width:0;right:46px;top:54px}65%{width:0;right:46px;top:54px}84%{width:55px;right:0;top:35px}to{width:47px;right:8px;top:38px}}.swal-icon--info{border-color:#c9dae1}.swal-icon--info:before{width:5px;height:29px;bottom:17px;border-radius:2px;margin-left:-2px}.swal-icon--info:after,.swal-icon--info:before{content:"";position:absolute;left:50%;background-color:#c9dae1}.swal-icon--info:after{width:7px;height:7px;border-radius:50%;margin-left:-3px;top:19px}.swal-icon{width:80px;height:80px;border-width:4px;border-style:solid;border-radius:50%;padding:0;position:relative;box-sizing:content-box;margin:20px auto}.swal-icon:first-child{margin-top:32px}.swal-icon--custom{width:auto;height:auto;max-width:100%;border:none;border-radius:0}.swal-icon img{max-width:100%;max-height:100%}.swal-title{color:rgba(0,0,0,.65);font-weight:600;text-transform:none;position:relative;display:block;padding:13px 16px;font-size:27px;line-height:normal;text-align:center;margin-bottom:0}.swal-title:first-child{margin-top:26px}.swal-title:not(:first-child){padding-bottom:0}.swal-title:not(:last-child){margin-bottom:13px}.swal-text{font-size:16px;position:relative;float:none;line-height:normal;vertical-align:top;text-align:left;display:inline-block;margin:0;padding:0 10px;font-weight:400;color:rgba(0,0,0,.64);max-width:calc(100% - 20px);overflow-wrap:break-word;box-sizing:border-box}.swal-text:first-child{margin-top:45px}.swal-text:last-child{margin-bottom:45px}.swal-footer{text-align:right;padding-top:13px;margin-top:13px;padding:13px 16px;border-radius:inherit;border-top-left-radius:0;border-top-right-radius:0}.swal-button-container{margin:5px;display:inline-block;position:relative}.swal-button{background-color:#7cd1f9;color:#fff;border:none;box-shadow:none;border-radius:5px;font-weight:600;font-size:14px;padding:10px 24px;margin:0;cursor:pointer}.swal-button[not:disabled]:hover{background-color:#78cbf2}.swal-button:active{background-color:#70bce0}.swal-button:focus{outline:none;box-shadow:0 0 0 1px #fff,0 0 0 3px rgba(43,114,165,.29)}.swal-button[disabled]{opacity:.5;cursor:default}.swal-button::-moz-focus-inner{border:0}.swal-button--cancel{color:#555;background-color:#efefef}.swal-button--cancel[not:disabled]:hover{background-color:#e8e8e8}.swal-button--cancel:active{background-color:#d7d7d7}.swal-button--cancel:focus{box-shadow:0 0 0 1px #fff,0 0 0 3px rgba(116,136,150,.29)}.swal-button--danger{background-color:#e64942}.swal-button--danger[not:disabled]:hover{background-color:#df4740}.swal-button--danger:active{background-color:#cf423b}.swal-button--danger:focus{box-shadow:0 0 0 1px #fff,0 0 0 3px rgba(165,43,43,.29)}.swal-content{padding:0 20px;margin-top:20px;font-size:medium}.swal-content:last-child{margin-bottom:20px}.swal-content__input,.swal-content__textarea{-webkit-appearance:none;background-color:#fff;border:none;font-size:14px;display:block;box-sizing:border-box;width:100%;border:1px solid rgba(0,0,0,.14);padding:10px 13px;border-radius:2px;transition:border-color .2s}.swal-content__input:focus,.swal-content__textarea:focus{outline:none;border-color:#6db8ff}.swal-content__textarea{resize:vertical}.swal-button--loading{color:transparent}.swal-button--loading~.swal-button__loader{opacity:1}.swal-button__loader{position:absolute;height:auto;width:43px;z-index:2;left:50%;top:50%;-webkit-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%);text-align:center;pointer-events:none;opacity:0}.swal-button__loader div{display:inline-block;float:none;vertical-align:baseline;width:9px;height:9px;padding:0;border:none;margin:2px;opacity:.4;border-radius:7px;background-color:hsla(0,0%,100%,.9);transition:background .2s;-webkit-animation:swal-loading-anim 1s infinite;animation:swal-loading-anim 1s infinite}.swal-button__loader div:nth-child(3n+2){-webkit-animation-delay:.15s;animation-delay:.15s}.swal-button__loader div:nth-child(3n+3){-webkit-animation-delay:.3s;animation-delay:.3s}@-webkit-keyframes swal-loading-anim{0%{opacity:.4}20%{opacity:.4}50%{opacity:1}to{opacity:.4}}@keyframes swal-loading-anim{0%{opacity:.4}20%{opacity:.4}50%{opacity:1}to{opacity:.4}}.swal-overlay{position:fixed;top:0;bottom:0;left:0;right:0;text-align:center;font-size:0;overflow-y:auto;background-color:rgba(0,0,0,.4);z-index:10000;pointer-events:none;opacity:0;transition:opacity .3s}.swal-overlay:before{content:" ";display:inline-block;vertical-align:middle;height:100%}.swal-overlay--show-modal{opacity:1;pointer-events:auto}.swal-overlay--show-modal .swal-modal{opacity:1;pointer-events:auto;box-sizing:border-box;-webkit-animation:showSweetAlert .3s;animation:showSweetAlert .3s;will-change:transform}.swal-modal{width:478px;opacity:0;pointer-events:none;background-color:#fff;text-align:center;border-radius:5px;position:static;margin:20px auto;display:inline-block;vertical-align:middle;-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;z-index:10001;transition:opacity .2s,-webkit-transform .3s;transition:transform .3s,opacity .2s;transition:transform .3s,opacity .2s,-webkit-transform .3s}@media (max-width:500px){.swal-modal{width:calc(100% - 20px)}}@-webkit-keyframes showSweetAlert{0%{-webkit-transform:scale(1);transform:scale(1)}1%{-webkit-transform:scale(.5);transform:scale(.5)}45%{-webkit-transform:scale(1.05);transform:scale(1.05)}80%{-webkit-transform:scale(.95);transform:scale(.95)}to{-webkit-transform:scale(1);transform:scale(1)}}@keyframes showSweetAlert{0%{-webkit-transform:scale(1);transform:scale(1)}1%{-webkit-transform:scale(.5);transform:scale(.5)}45%{-webkit-transform:scale(1.05);transform:scale(1.05)}80%{-webkit-transform:scale(.95);transform:scale(.95)}to{-webkit-transform:scale(1);transform:scale(1)}}</style>
  <meta charset="utf-8">
  <title>大的一个</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
<meta name="mobile-web-app-capable" content="yes"><meta name="theme-color" content="#164F86"><meta name="application-name" content="bigone-web"><link rel="apple-touch-icon" sizes="57x57" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-icon-152x152.png"><link rel="apple-touch-icon" sizes="180x180" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-icon-180x180.png"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><meta name="apple-mobile-web-app-title" content="bigone-web"><link rel="icon" type="image/png" sizes="32x32" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-favicon-16x16.png"><link rel="shortcut icon" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-favicon.ico"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-startup-image-320x460.png"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-startup-image-640x920.png"><link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-startup-image-640x1096.png"><link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-startup-image-750x1294.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-startup-image-1182x2208.png"><link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-startup-image-1242x2148.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-startup-image-748x1024.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-startup-image-768x1004.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-startup-image-1496x2048.png"><link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="/assets/icons-97e37c5e2bc3e2b4437a4029b367a49c-apple-touch-startup-image-1536x2008.png"><link href="/assets/main-0232d8ec2b9aa51c28518c6b27edf28b.css" rel="stylesheet"><script>!function(e){var n=window.webpackJsonp;window.webpackJsonp=function(r,a,c){for(var u,i,f,s=0,l=[];s<r.length;s++)i=r[s],t[i]&&l.push(t[i][0]),t[i]=0;for(u in a)Object.prototype.hasOwnProperty.call(a,u)&&(e[u]=a[u]);for(n&&n(r,a,c);l.length;)l.shift()();if(c)for(s=0;s<c.length;s++)f=o(o.s=c[s]);return f};var r={},t={4:0};function o(n){if(r[n])return r[n].exports;var t=r[n]={i:n,l:!1,exports:{}};return e[n].call(t.exports,t,t.exports,o),t.l=!0,t.exports}o.e=function(e){var n=t[e];if(0===n)return new Promise(function(e){e()});if(n)return n[2];var r=new Promise(function(r,o){n=t[e]=[r,o]});n[2]=r;var a=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.charset="utf-8",c.async=!0,c.timeout=12e4,o.nc&&c.setAttribute("nonce",o.nc),c.src=o.p+""+e+"-"+{0:"e7b2655b037106e617e3",1:"7a63b9ab1e6bc99d5e0a",2:"66089dad5700802dfc53",3:"5f9650221f5b2d884666"}[e]+".js";var u=setTimeout(i,12e4);function i(){c.onerror=c.onload=null,clearTimeout(u);var n=t[e];0!==n&&(n&&n[1](new Error("Loading chunk "+e+" failed.")),t[e]=void 0)}return c.onerror=c.onload=i,a.appendChild(c),r},o.m=e,o.c=r,o.d=function(e,n,r){o.o(e,n)||Object.defineProperty(e,n,{configurable:!1,enumerable:!0,get:r})},o.n=function(e){var n=e&&e.__esModule?function(){return e.default}:function(){return e};return o.d(n,"a",n),n},o.o=function(e,n){return Object.prototype.hasOwnProperty.call(e,n)},o.p="/assets/",o.oe=function(e){throw console.error(e),e}}([]);</script><script type="text/javascript" src="/assets/polyfills-7a63b9ab1e6bc99d5e0a.js" defer=""></script><script type="text/javascript" src="/assets/vendor-e7b2655b037106e617e3.js" defer=""></script><script type="text/javascript" src="/assets/main-66089dad5700802dfc53.js" defer=""></script><script>webpackJsonp([3],{JhIW:function(e,a){var t,n,c,o,s,g;t=window,n=document,c="script",o="ga",t.GoogleAnalyticsObject=o,t.ga=t.ga||function(){(t.ga.q=t.ga.q||[]).push(arguments)},t.ga.l=1*new Date,s=n.createElement(c),g=n.getElementsByTagName(c)[0],s.async=1,s.src="https://www.google-analytics.com/analytics.js",g.parentNode.insertBefore(s,g),ga("create","UA-39165210-4","auto"),ga("send","pageview")},uALh:function(e,a,t){"use strict";Object.defineProperty(a,"__esModule",{value:!0});var n=t("JhIW");t.n(n)}},["uALh"]);</script><style>.wrapper[_ngcontent-c0], [_nghost-c0]{height:1px;min-height:100%}  html{height:100%}  body{height:1px;min-height:100%;background:#13141a}  ::-webkit-input-placeholder{color:#676f7a;font-weight:300}  :-ms-input-placeholder,   ::-ms-input-placeholder{color:#676f7a;font-weight:300}  ::placeholder{color:#676f7a;font-weight:300}  input[type=number]{-webkit-appearance:textfield;-moz-appearance:textfield;appearance:textfield}  input::-webkit-inner-spin-button,   input::-webkit-outer-spin-button{-webkit-appearance:none;appearance:none}</style><style></style><style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style><link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css"></head>

<body cz-shortcut-listen="true">
  <b1-root _nghost-c0="" class="ng-tns-c0-0" ng-version="5.2.0"><div _ngcontent-c0="" class="wrapper ng-trigger ng-trigger-state">
  <router-outlet _ngcontent-c0="" class="ng-tns-c0-0"></router-outlet><b1-legacy _nghost-c1="" class="ng-star-inserted" style=""><section _ngcontent-c1="" class="home" id="layout">
  <div _ngcontent-c1="" id="top-loading-bar"></div>
  <div _ngcontent-c1="" id="layout-container"><div id="background-container" style="background-image: url(&quot;/assets/47a479d1ad6a2d7f267787403783b060.jpg&quot;); background-size: cover; background-position: center center;">
  <div id="background-overlay">
    <header id="header">
      <a href="/" id="logo" data-navigo="">
        <span id="title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">懂你时间</font></font></span>
      </a>
      <nav id="nav">
        <a href="/trade/ETH-BTC"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">学习中心</font></font></a>
        <a href="https://help.big.one"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">帮助中心</font></font></a>
        <a href="/sessions/new" class="sign-in"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
          登录
           </font></font><i class="fal fa-sign-in"></i>
        </a>
        <a href="/users/new" class="register"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">注册</font></font></a>
      </nav>
    </header>

    <section id="masthead">
      <div id="content">
        <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">欢迎使用懂你时间
</font></font></h1>
        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">最直接，最快速的职场全球学习平台。</font></font></h2>
        <a class="trade-button" href="/trade/ETH-BTC"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">前往学习中心</font></font></a>
      </div>
    </section>

    <footer id="footer">
      <ul>
        <li>
          <a href="https://t.me/exBigONE"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">电报</font></font></a>
        </li>
        <li>
          <a href="https://twitter.com/BigONEexchange"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">推特</font></font></a>
        </li>
        <li>
          <a href="https://facebook.com/exBigONE"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Facebook的</font></font></a>
        </li>
        <li>
          <a href="https://beechat.io/join?g=656e6983bc5848e98323ebcb477da786&amp;lang=en"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BeeChat</font></font></a>
        </li>
        <li class="mobile">
          <a href="https://help.big.one"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">帮助中心</font></font></a>
        </li>
      </ul>
    </footer>
  </div>
</div>
</div>
</section>
</b1-legacy>
</div>
</b1-root><div id="goog-gt-tt" class="skiptranslate" dir="ltr"><div style="padding: 8px;"><div><div class="logo"><img src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png" width="20" height="20" alt="Google 翻译"></div></div></div><div class="top" style="padding: 8px; float: left; width: 100%;"><h1 class="title gray">原文</h1></div><div class="middle" style="padding: 8px;"><div class="original-text"></div></div><div class="bottom" style="padding: 8px;"><div class="activity-links"><span class="activity-link">提供更好的翻译建议</span><span class="activity-link"></span></div><div class="started-activity-container"><hr style="color: #CCC; background-color: #CCC; height: 1px; border: none;"><div class="activity-root"></div></div></div><div class="status-message" style="display: none;"></div></div>



<div class="goog-te-spinner-pos"><div class="goog-te-spinner-animation"><svg xmlns="http://www.w3.org/2000/svg" class="goog-te-spinner" width="96px" height="96px" viewBox="0 0 66 66"><circle class="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg></div></div></body></html>
