/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

 // .navbar {
 //   position: relative;
 //   min-height: 50px;
 //   margin-bottom: 20px;
 //   border: 1px solid transparent;
 // }


 .jumbotron {
   background-image:url('https://ws4.sinaimg.cn/large/006tNc79ly1fnqw49z485j30sg0g0tbn.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 110px;
   margin-top: 0px;

 }
 .slogan1{
   margin-top: 200px;
   margin-bottom: 80px;
   text-align: center;
   color: white;
 }

 .slogan2 {
   margin-top: 10px;
   margin-bottom: 50px;
   text-align: center;
   color: white;
   top: 12px;
 }

 .lead {
   margin-bottom: 60px;
   text-align: center;
   color: white;
 }



 //leo-商品详情区域样式
 .product-detail {
 margin: 1.1em 0 3em;
 }
 .product-detail-box {
 border: 1px solid #e3e3e3;
 border-top: none;
 padding: 2em 1.2em;
 letter-spacing: 0.1em;
 text-align: center;
 line-height: 1.6em;
 img {
 max-width:100%;height:auto;             //重要样式代码，需要配合application.js的自适应代码块一起使用
 }
 }






 // 商品品论区域样式
 .review-comment-form {
   text-align: left;
   padding: 2em 2em;
 }
 .review-comment-button {
   text-align: left;
   padding: 0 2em;
   margin-top: -2em;
 }
 .reviews {
   text-align: left;
   li {
     list-style: none;
   }
 }
 .review-user-email {
   font-weight: bold;
 }
 .review-comment {
   margin: 1em auto;
 }
 .review-hr {
   padding: 0 3em;
 }
