<div class="nav-footer">
  <center>
      地址：北京市海淀区海淀大街27号&nbsp;<i>|</i>

      版权所有：才华横溢科技（北京）有限责任公司&nbsp;<i>|</i>
      京ICP备17068249号-1
      <div>懂你时间 v1.1.0&nbsp;© dongnishijian.com All Rights Reserved. </div>
      <div><img style="vertical-align: text-bottom;"} src="http://mat1.gtimg.com/www/images/qq2012/icon_yuewangga1.png" width="16" height="16">&nbsp;<a style="" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802025414"><span>京公网安备 11010802025414号</span></a><br></div>

  </center>
</div>
