
<div class="navbar navbar-default" role="navigation">

    <div class="nav navbar-nav navbar-left">
         <a class="navbar-brand" href="/">懂你时间</a>
    </div>

    <div class="nav navbar-nav navbar-right">
          <li><%= link_to('学习中心', '#') %></li>
          <li><%= link_to('帮助中心', '#') %></li>
          <li><%= link_to('注册', '#') %></li>
          <li><%= link_to('登入', '#') %></li>
    </div>

</div>
